:root {
  --strong-text: 'Montserrat', sans-serif;
  --small-text: 'Roboto', sans-serif;
  --white-color: #ffffff;
  --accent-color: #ff4e50;
  --small-text-color: #666666;
  --strong-text-color: #333333;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  max-width: 940px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 57px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.banner-background {
  min-width: 320px;
  min-height: 550px;
  background-image: url(../images/banner-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.header {
  display: flex;
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: column-reverse;
  }
  .logo {
    margin-top: 115px;
  }
}

.logo {
  text-transform: uppercase;
  color: var(--white-color);
  font: var(--strong-text);
  font-size: 20px;
  font-weight: 700;
}

.log-in {
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

.log-in-item a {
  text-decoration: none;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  color: var(--white-color);
  font: var(--strong-text);
  font-size: 14px;
  font-weight: 700;
}

.log-in-item a:hover,
.log-in-item a:focus {
  border: 2px solid var(--white-color);
  border-radius: 18px;
}

.hero-title {
  text-transform: uppercase;
  color: var(--white-color);
  font: var(--strong-text);
  font-size: 30px;
  font-weight: 700;
}

.hero-text {
  font-size: 18px;
  color: var(--white-color);
  font-weight: 300;
  font: var(--small-text);
  padding-bottom: 18px;
}

.coll-too-action {
  text-decoration: none;
  font-size: 14px;
  color: var(--white-color);
  font-weight: 700;
  font: var(--strong-text);
  background-color: var(--accent-color);
  border-radius: 20px;
  padding-top: 12px;
  padding-right: 52px;
  padding-bottom: 12px;
  padding-left: 52px;
}

.coll-too-action:hover,
.coll-too-action:focus {
  color: var(--accent-color);
  background-color: var(--white-color);
  border: 2px solid var(--accent-color);
}

.partners {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
  align-items: stretch;
  justify-content: center;
}

.partners-item {
  flex-basis: 100%;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}

.image {
  position: relative;
}

.photo {
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.icon-tv {
  position: absolute;
  bottom: 0;
  width: 37px;
  height: 37px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  padding-left: 6px;
  background-color: #ff4e50;
  fill: aliceblue;
  border: 4px solid var(--white-color);
  border-radius: 50%;
}

.icon-flask {
  position: absolute;
  bottom: 0;
  width: 37px;
  height: 37px;
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 6px;
  padding-left: 8px;
  background-color: #ffa507;
  fill: aliceblue;
  border: 4px solid var(--white-color);
  border-radius: 50%;
}

.icon-coffe {
  position: absolute;
  bottom: 0;
  width: 37px;
  height: 37px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 6px;
  padding-left: 6px;
  background-color: #1cd7ad;
  fill: aliceblue;
  border: 4px solid var(--white-color);
  border-radius: 50%;
}

.icon-telegram {
  position: absolute;
  bottom: 0;
  width: 37px;
  height: 37px;
  padding-top: 6px;
  padding-right: 2px;
  padding-bottom: 6px;
  padding-left: 6px;
  background-color: #4e73db;
  fill: aliceblue;
  border: 4px solid var(--white-color);
  border-radius: 50%;
}

.partners-item .icon {
  transform: translate3d(60%, 0, 0) scale(1);
  transition: transfomr 250ms linear;
}

.partners-item:hover .icon {
  transform: translate3d(60%, 0, 0) scale(1.05);
}

.partners-title {
  font-size: 22px;
  color: var(--strong-text-color);
  font: var(--strong-text);
  font-weight: 700;
  margin-top: 68px;
  margin-bottom: 14px;
}

.name-partner {
  font-size: 14px;
  color: var(--strong-text-color);
  font: var(--strong-text);
  font-weight: 700;
}

.about-partner {
  font-size: 14px;
  color: var(--small-text-color);
  font: var(--small-text);
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .banner-background {
    background-image: url(../images/banner-tablet.jpg);
  }

  .log-in {
    margin: 0;
  }

  .header {
    justify-content: space-between;
    align-items: center;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 492px;
    margin-right: auto;
    margin-left: auto;
  }

  .hero-title {
    font-size: 52px;
  }

  .hero-text {
    font-size: 24px;
  }

  .partners {
    width: 492px;
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
  }

  .partners-item {
    flex-basis: calc(50% - 10px);
  }
}

@media screen and (min-width: 940px) {
  .banner-background {
    background-image: url(../images/banner-desktop.jpg);
  }

  .hero {
    width: 500px;
  }

  .partners {
    width: 940px;
    margin-bottom: 70px;
  }

  .partners-item {
    flex-basis: calc(25% - 15px);
  }
}
